html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 2vh;
    overflow: hidden;
    user-select: none;
}

body {
    background: #ffffff none;
    color: #222;
}

div {
    padding: 0;
    margin: 0;
}

#root {
    width: 100%;
    height: 100%;
}

#app-header {
    padding: 4px;
    margin: 0 0 4px 0;
}

a {
    color: #ddd;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.slides {
    position: relative;
}

.slide {
    display: grid;
    grid-template-rows: 14vmin 1fr [s] auto [e] 1fr 14vmin;
    grid-template-columns: 14vmin 1fr [s] auto [e] 1fr 14vmin;
    overflow: hidden;
    position: absolute;
}

.slide>div.content {
    display: inline-block;
    grid-column: s / e;
    grid-row: s / e;
    font-size: 1rem;
    text-align: center;
    padding: 1vmin;
}

.slide>div.arrow.top {
    grid-column: s / e;
    grid-row: 1 / span 1;
    place-self: start center;
}
.slide>div.arrow.bottom {
    grid-column: s / e;
    grid-row: 5 / span 1;
    place-self: end center;
}
.slide>div.arrow.right {
    grid-column: 5 / span 1;
    grid-row: s / e;
    place-self: center end;
}
.slide>div.arrow.left {
    grid-column: 1 / span 1;
    grid-row: s / e;
    place-self: center start;
}
a, a:hover, a:visited {
    color: #2767d2;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.slide>div.content * {
    text-align: left;
}
.slide>div.content h1,
.slide>div.content h2,
.slide>div.content h3 {
    text-align: center;
}
.slide>div.content h1 {
    font-size: 1.8rem;
}
.slide>div.content h2 {
    font-size: 1.5rem;
}
.slide>div.content ul {
    list-style-type: disc;
}
