html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 2vh;
  overflow: hidden;
  user-select: none;
}

body {
  background: #ffffff none;
  color: #222;
}

div {
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
  height: 100%;
}

a {
  color: #ddd;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a, a:hover, a:visited {
  color: #2767d2;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
